#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(155, 203, 245);
  background-color: rgb(59, 56, 76);
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 32px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 30px;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(59, 56, 76);
  padding: 20px;
}

#side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  align-self: stretch;
  gap: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  background-color: rgb(80, 80, 100);

}

.pixel {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(155, 203, 245);
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
}

#grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  color: rgb(155, 203, 245);
  background: rgb(120, 170, 210);
  border-radius: 5px;
  padding: 30px;
}


#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  height: 0px;
  padding: 50px;
  margin: 20px;
}

button {
  padding: 10px 20px;
  color: rgb(155, 203, 245);
  border: 3px solid rgb(155, 203, 245);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
}

button:hover {
  padding: 12 22px;
  font-size: 24px;
  color: rgb(135, 180, 225);
}

.popup {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  align-self: center;
  width: 300px;
  height: 300px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  border-radius: 10px;
  border: 5px solid rgb(155, 203, 245);
}

.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid;
  width: 30%;
  font-weight: bolder;
}

.popup-title {
  text-align: center;
  color: white;
  width: 100%;
  padding: 10px;
  background-color: rgb(155, 203, 245);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bolder;
  font-size: 25px;
}

#popup-input {
  text-align: center;
  color: rgb(135, 180, 225);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bold;
  font-size: 20px;
  border: 3px solid rgb(135, 180, 225);
  border-radius: 10px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}

.popup-content button {
  display: block;
  margin: 0 auto;
}

.show {
  display: block;
}

#size-slider {
  -webkit-appearance: none;
  width: 70%;
  height: 7px;
  color: rgb(155, 203, 245);
  border-radius: 3px;
  transition: opacity 0.2s;
  background: linear-gradient(90deg, rgb(255, 255, 255), 60%, rgb(155, 203, 245), 60%);
  outline: none;
  opacity: 0.7;

}

#size-slider:hover {
  opacity: 1;
}

#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  color: rgb(155, 203, 245);
  background: rgb(155, 203, 245);
  border-radius: 100%;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

#sliderValue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bold;
  font-size: 20px;
  color: rgb(155, 203, 245);
  border: 3px solid rgb(155, 203, 245);
  background-color: white;
}

#slideContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}