body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: bisque;
}

.pixel {
  border-style: solid;
  border-color: black;
  background-color: aliceblue;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  flex-grow: 0;
  flex-shrink: 0;
  background: red;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid;
  width: 30%;
  font-weight: bolder;
}

.popup-content button {
  display: block;
  margin: 0 auto;
}

.show {
  display: block;
}