#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: black;
  font-size: 32px;
  padding: 30px;
  margin: 10px;
}


#side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(57, 132, 198);
  width: 300px;
  align-self: stretch;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  background-color: bisque;
}

.pixel {
  border-style: solid;
  border-color: black;
  background-color: aliceblue;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
}

#grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  background: red;
  padding: 10px;
  margin: 20px;
}


#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 0;
  height: 0px;
  padding: 50px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid;
  width: 30%;
  font-weight: bolder;
}

.popup-content button {
  display: block;
  margin: 0 auto;
}

.show {
  display: block;
}